/* El CSS del Hero (Sección Principal de la Página Web- Inicio) */

/* Estilos para el contenedor principal del héroe */
.h-wrapper {
    background-color: var(--secondary-color); 
    height: 150vh; 
    background-size: cover; 
    overflow: hidden; 
    background-clip: padding-box; 
}

/* Estilos para el contenedor interno */
.h-wrapper .container{
    padding-top: 10rem; 
}

/* Estilos para el contenedor principal */
.h-container{
    display: flex; 
    height: 80vh; 
    align-items: center; 
    justify-content: space-around; 
    position: relative; 
}

/* Estilos para la caja de redes sociales */
.socialBox{
    margin-top: 20px; 
    background-color: var(--third-color);
    padding: 1rem 2rem; 
    border-radius: 999px; 
    display: flex; 
    align-items: center; 
    width: 70%; 
    position: relative; 
    overflow: hidden; 
}

/* Estilos para el contenedor de iconos */
.iconContainer {
    display: flex; 
    gap: 20px;
    margin-left: -10px; 
}

/* Estilos para el botón de contacto */
.contacto-button{
    position: absolute; 
    right: 0.5rem; 
    height: 80%; 
    background: #f49e2b; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 0rem 1rem; 
    border-radius: 999px; 
    color: var(--light-bg); 
    font-size: 1.2rem; 
    cursor: pointer; 
}

/* Estilos para el lado izquierdo */
.h-left{
    flex: 1; 
    position: relative; 
    display: flex; 
    flex-direction: column; 
    gap: 2rem; 
    align-items: center; 
    padding-top: 5rem; 
}

/* Estilos para la fila de imágenes */
.image-row{
    display: flex; 
    gap: 2rem; 
}

/* Estilos para el contenedor de la persona */
.person-pill{
    height: 15rem; 
    width: 6rem; 
    border-radius: 999px; 
    overflow: hidden;
}

/* Estilos para el fondo del contenedor de la persona */
.person-pill-bg{
    border-radius: 999px; 
    height: 100%; 
    width: 100%; 
    overflow: hidden; 
}

/* Estilos para la imagen dentro del contenedor */
.person-pill-bg > img{
    width: 100%; 
    object-fit: cover; 
    scale: 2; 
    margin-top: 4rem;
}

/* Estilos para el segundo elemento de la fila de imágenes */
.image-row > :nth-child(2)
{
    transform: translateY(-4rem);
}

/* Estilos para el lado derecho */
.h-right{
    flex: 1.25; 
    display: flex; 
    flex-direction: column; 
    gap: 2rem; 
}

/* Estilos para el título */
.h-title{
    display: flex; 
    flex-direction: column; 
    gap: 2rem; 
    color: rgb(248, 248, 248); 
    font-size: 4.5rem; 
    font-weight: bold; 
    text-transform: uppercase; 
}

/* Estilos para dispositivos de pantalla pequeña */
@media (max-width: 1024px) {
    .h-wrapper{
        height: max-content; 
    }

    .h-wrapper .container{
        padding-top:  5rem; 
    }

    .h-container{
        height: auto; 
        flex-direction: column; 
        gap: 4rem; 
        padding-bottom: 7rem;
    }

    .h-right{
        flex:1; 
        align-items: center; 
    }

    .h-title{
        align-items: center; 
        font-size: 2.2rem; 
    }

    .h-des{
        font-size: 1.2rem; 
        width: 80%; 
        text-align: center; 
    }
}

/* Estilos para el tercer elemento del título */
.h-title > :nth-child(3){
    color: #f49e2b; 
}

/* Estilos para la descripción */
.h-des{
    color: white; 
    font-size: 1.4rem; 
    line-height: 2rem; 
}

/* Estilos para dispositivos de pantalla grande */
@media (min-width: 1024px) {
    .h-title {
        font-size: 3.5rem; 
    }
    
    .h-title span {
        display: block; 
    }

    .h-des {
        display: block; 
    }
}
