.socialBox{
    margin-top: 20px;
    background-color: var(--third-color);
    padding: 1rem 2rem;
    border-radius: 999px;
    display: flex;
    align-items: center;
    width: 70%;
    position: relative;
    overflow: hidden;
}

.iconContainer {
    display: flex;
    gap: 20px; /* Adjust the spacing as needed */
    margin-left: -10px;
    
    
  }

.contacto-button{
    position: absolute;
    right: 0.5rem;
    height: 80%;
    background: #f49e2b;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 1rem;
    border-radius: 999px;
    color: var(--light-bg);
    font-size: 1.2rem;
    cursor: pointer;
    

    
    
    
   
}

