:root {
  /* Colores */
  --dark-bg: #000;
  --light-bg: #f6f7fb;
  --primary-color:  #d4dfe4;
  --secondary-color: #101e25;
  --third-color: #e9f3f5;
  --fourth-color: #cfd3d5;
  --text-color: #0f232e;
  --title-color: #1d3a3c;
  --border-color: #e1e6e8a3;
  --shadow: 10px 12px 48px rgba(181, 187, 203, 0.206);
}

html {
  /* Configuración general */
  box-sizing: border-box;
}

body {
  /* Estilos del cuerpo */
  color: var(--text-color);
  margin: 0 !important;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0 !important;
  touch-action: pan-y, pan-x;
  transition: all 0.4s cubic-bezier(0.57, 0.25, 0.33, 1) 0s;
}

/* Contenedor principal */
.container {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

/* Media Queries para ajustar el tamaño del contenedor en diferentes tamaños de pantalla */
@media (min-width: 2100px) {
  .container {
    max-width: 1600px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
