/*EL CSS DEL BRANDING VIDEO*/

.bv-container .container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}

.bv-video {
    width: 100%;
    border-radius: 4rem;
    margin-top: -5rem;
    z-index: 1;
}

@media (max-width: 1024) {
    .bv-video{
        margin-top: 1rem;
    }
}

@media (max-width: 768) {
    .bv-video{
        border-radius: 2rem;
       
    }
}