/* ESTILOS CSS PARA EL VIDEO DE BRANDING */

/* Estilo para el contenedor principal del video */
.bv-container .container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}

/* Estilo para el video en sí */
.bv-video {
    width: 100%;
    border-radius: 4rem;
    margin-top: -5rem;
    z-index: 1;
}

/* Estilos para pantallas con un ancho máximo de 1024px */
@media (max-width: 1024px) {
    .bv-video {
        margin-top: 1rem;
    }
}

/* Estilos para pantallas con un ancho máximo de 768px */
@media (max-width: 768px) {
    .bv-video {
        border-radius: 2rem;
    }
}
