/* ESTILOS CSS PARA SOLUCIONES OUTSOURCING */
/* Contenedor principal de las soluciones */
.soluciones-container {
  position: relative; 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-evenly; 
  padding-top: 10rem; 

}

/* Encabezado de las soluciones */
.soluciones-head {
  display: flex; 
  flex-direction: column; 
  gap: 2rem; 
  align-items: center; 
  max-width: 70rem; 
  margin: auto; 
  color: #ffa600; 
  margin-bottom: 20px; 
}

/* Contenedor de características de las soluciones */
.soluciones-features {
  display: flex; 
  flex-wrap: wrap; 
  gap: 6rem; 
  justify-content: space-between; 
  padding-top: 10rem; 
}

/*Estilo para cada tarjeta de soluciones*/
.soluciones-feature {
  max-width: 45rem; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  background-color: rgba(51, 51, 51, 0.5); 
  border: 4px solid #fff; 
  border-radius: 2rem; 
  padding: 0.5rem 1rem; 
  width: 200%; 
  margin-bottom: 20px; 
  height: 500px;
}

/* Ajustes para cada segundo elemento */
.soluciones-feature:nth-child(2n) {
  margin-left: auto; 
}

/* Ajustes para la posición de la imagen en elementos impares */
.soluciones-feature:nth-child(odd) .image-container {
  position: absolute; 
  right:  0; 
  margin-top: 60px; 
  margin-left: 20px; 
}

/* Ajustes para la posición de la imagen en elementos pares */
.soluciones-feature:nth-child(even) .image-container {
  position: absolute; 
  left: 0; 
  margin-right: 20px; 
  margin-top: 10px; 
}

/* Estilos para el contenedo de imágenes*/
.soluciones-feature .image-container img {
  width: 450px; 
  height: 500px; 
  object-fit: cover; 
  margin-top: -10%; 
}

/* Estilos específicos para cada imagen */
/*Primera Imagen*/
.soluciones-feature:nth-child(1) .image-container img {
  width: 450px;
  height: 600px; 
  object-fit: cover; 
  margin-top: -20%; 
}

/*Segunda Imagen*/
.soluciones-feature:nth-child(2) .image-container img {
  width: 450px; 
  height: 570px; 
  object-fit: cover; 
  margin-top: -10%; 
}

/*Tercera Imagen*/
.soluciones-feature:nth-child(3) .image-container img {
  width: 450px; 
  height: 570px; 
  object-fit: cover; 
  margin-top: -20%; 
}


/*Cuarta Imagen*/
.soluciones-feature:nth-child(4) .image-container img {
  width: 450px; 
  height: 570px; 
  object-fit: cover; 
  margin-top: -10%; 
}

/* Estilo para los detalles de cada tarjeta de soluciones */
.soluciones-feature .detail {
  display: flex; 
  flex-direction: column; 
  align-items: flex-start; 
  margin: 20px; 
}

/* Ajustes para diferentes tamaños de pantalla */

@media (max-width: 550px) {
  .soluciones-container {
    padding-top: 5rem; 
    align-items: center;

  }

 
  .soluciones-features {
    justify-content: center; 

  }

  .soluciones-feature .image-container {
    display: none; /* Oculta las imágenes en pantallas pequeñas */
  }

  .soluciones-feature .detail {
    margin-bottom: 20px; 
  }

  .soluciones-feature {
    width: 90%; 
    max-width: none; 
    margin: 10px auto; 
  
  }

  .soluciones-feature {
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 40px; 
    width: 300px; 
    height: 720px; 
    background-color: rgba(51, 51, 51, 0.5); 
    border: solid #fff; 
    border-radius: 0.8rem; 
    padding: 10px; 
  
  }

  .soluciones-feature .image-container img {
    display: none; /* Oculta las imágenes */
   }
 
  .soluciones-feature:nth-child(1) {
    margin-top: 0; 
  }
 
  .soluciones-feature:nth-child(even) {
    margin-right: -10px; 
  }
}

/* Ajustes para diferentes tamaños de pantalla (tablet) */
@media (max-width: 1024px) {
  .soluciones-container {
    padding-top: 8rem; 
  }

  .soluciones-feature {
    flex-direction: column;
    align-items: center; 
    margin-bottom: 40px; 
  }

  .soluciones-feature .image-container img {
   display: none; /* Oculta las imágenes */
  }

  .soluciones-feature:nth-child(1) {
    margin-top: -100px; 
  }

  .soluciones-feature:nth-child(2) {
    margin-top: -80px; 
  }

  .soluciones-feature:nth-child(3) {
    margin-top: -80px; 
  }

  .soluciones-feature:nth-child(4) {
    margin-top: -80px; 
  }

  .soluciones-feature:nth-child(even) {
    margin-left: 0; 
  }
}
