.outsourcing-wrapper {
  padding-top: 20rem;
}

.outsourcing-content-container {
  display: flex;
  gap: 3rem;
  margin-top: 4rem;
 
}


.outsourcing-head {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: auto;
 
}

.selection-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: -90px;
}

.selection-container .section-container {
  width: 100%; /* Set width to 100% to take the full width of the container */
  padding: 30px 40px; /* Adjust the padding for more space on the sides */
  font-size: 16px; /* Increase the font size for better readability */
  display: flex;
  align-items: center;
  cursor: pointer;
  background: #fafafa; /* Light blue color on hover */
  border-radius: 1rem;
}

.selection-container .section-container:hover {
  background: #d5dadc; /* Light blue color on hover */
  border-radius: 1rem;
}

.selection-container .section-container.active {
  background: var(--secondary-color);
}






.mission-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.o-logo-container {
  margin-left: 20px; /* Adjust the margin as needed */
}

.selection-container .section-container.active .icon-container {
  background-color: #fff; /* White color for the icon container when active */
}

.selection-container .section-container span {
  color:  var(--secondary-color); /* Set your desired text color */
  font-size: 18px;
  font-weight: 600;
}

.selection-container .section-container:hover .icon-container {
  background-color: #fff; /* White color for the icon container on hover */
}

.selection-container .section-container.active span {
  color: #fff; /* White color for the text when active */
  font-weight: 600;
}

.selection-container .icon-container {
  background-color: #cbd6db;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px; /* Set a fixed height for the icon container */
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.selection-container .section-container {
  cursor: pointer;
  width: 300px; /* Set a fixed width */
  height: 60px; /* Set a fixed height */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  transition: background-color 0.3s ease;
  margin: 20px;
  margin-top: 30px;
  
}



.outsourcing-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 300px;
  padding: 50px; /* Adjust the padding as needed */
  margin: 20px auto; /* Adjust the margin as needed */
  min-height: 10px; /* Set a minimum height */
  border: 1px;
  margin-top: 60px;
  background-color: white;
  height: 600px;


}

.block-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 250px; /* Adjust the width of the square as needed */
  height: 300px; /* Adjust the height of the square as needed */

  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  padding: 1rem; /* Adjust padding as needed */
  margin-top: 5px;
  margin-bottom: 10px;
}

.block-features {
  display: flex;
  flex-direction: row; /* Change from column to row */
  justify-content: space-between; /* Adjust spacing as needed */
  align-items: center;
}

.outsourcing-content-container {
  width: 100%; /* Set the width to 100% to take the full width of the parent */
  max-width: 1100px; /* Set a maximum width to limit the size */
  height: 600px; /* Set a fixed height */
  position: relative; /* Position relative to allow positioning child elements */
  margin: 10px auto; /* Add margin for spacing, with auto on sides to center the container */
  margin-top: 20px;
}

.outsourcing-head.scrolled {
  color: white;
}

.outsourcing-wrapper.scrolled .sec-titles,
.outsourcing-wrapper.scrolled .texts,
.outsourcing-wrapper.scrolled .block-feature span {
  color: white;
}




/* Original CSS remains unchanged */

/* Add a media query for small screens */
@media only screen and (max-width: 768px) {
  .outsourcing-content-container {
    flex-direction: column; /* Display content in a column for small screens */
  }

  .selection-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    height: 100px; /* Set container height to 100% of the viewport height */
    margin: 0; /* Reset margin to ensure full width */
  }
  .selection-container .dropdown-menu {
    width: 350px; /* Set the width to your desired value */
  }

  /* Style the options in the dropdown */
  .selection-container .dropdown-menu option {
    width: 100%; /* Set the width to 100% to match the dropdown menu */
  }

  .outsourcing-content {
    margin-left: 0; /* Remove left margin for small screens */
  }

  .selection-container {
    border-bottom-left-radius: 0; /* Remove border-radius for small screens */
    border-bottom-right-radius: 0;
    border-bottom: none; /* Remove the bottom border for small screens */
  }

  .selection-container .section-container {
    width: 100%; /* Set width to 100% for small screens */
  }

  .selection-container .section-container .icon-container {
    margin-right: 0;
  }

  .selection-container .section-container span {
    text-align: center;
    margin-left: 0;
  }

  .block-features {
    flex-direction: column; /* Display block features in a column */
    align-items: center; /* Center block features */
  }

  .block-feature {
    width: 100%; /* Set width to 100% for small screens */
    margin-bottom: 20px; /* Add margin between block features for better spacing */
    align-items: center;
    margin: 20px;
    text-align: center; /* Center text within the block feature */
  }

  /* Add this style to your CSS */
  .sec-title.left-align {
    text-align: left;
  }

  /* Add styles for the dropdown menu */
  .selection-container select {
    width: calc(100% - 100px); /* Set the width to 100% minus the sum of left and right margin */
    padding: 5px;
    margin: 0 20px; /* Add margin on both sides for spacing */
    border: 1px solid #cbd6db;
    border-radius: 8px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    appearance: none;
  }

  /* Style the options in the dropdown */
  .selection-container select option {
    background-color: #fff; /* Set background color for each option */
    color: #000; /* Set text color for each option */
    
  }

  .des-title {
    color: var(--secondary-color);
  }

  .sec-titles {
    color: var(--secondary-color);
    font-size: 1.7rem;
    font-weight: 200;
    text-align: left;
    margin-top: -20%;
  }

  .texts {
    color: var(--secondary-color);
    font-size: 1.2rem;
  }
}
